.bor {border-style: solid;
      border: 1px solid black;}
#box1 {
       width: 69%;height: 30%;
       float: left;}
#box2 {
              width: 29%;height: 30%;
            float: right; }
#box3 {
                          width: 69%;height: 30%;
                        float: left; }

#box4 {
  width: 100%;height: 70%;
          float: left; }
button {margin-right: 2rem;font-size: 200%}

img {margin-top: 10%;width: 50%;}
h1,h2,p {margin-left: 2rem;}
